.text-input{
    position: relative;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 2px;
    width: 410px;
    padding: 20px;
    color: hsl(252, 6%, 83%);
    font-family: Inconsolata-Regular;
    font-size: large;
    z-index: 10;
}
.text-input:hover{
    border-color: white;
    transition: border-color 1s;
}
.text-input:focus{
    border-style:solid;
    border-color: hsl(252, 6%, 83%);
    border-width: 4px;
}